name: Email Notification on New Issue


on:
issues:
types: [opened]


jobs:
notify:
runs-on: ubuntu-latest
steps:
- name: Send email notification
uses: dawidd6/action-send-mail@v3
with:
server_address: smtp.gmail.com
server_port: 465
username: ${{ secrets.NOTIFY_EMAIL }}
password: ${{ secrets.NOTIFY_EMAIL_PASSWORD }}
subject: "New GitHub Issue Opened"
to: ${{ secrets.NOTIFY_EMAIL }}
from: GitHub Bot
body: |
A new issue has been opened.


Repository: ${{ github.repository }}
Title: ${{ github.event.issue.title }}
Author: ${{ github.event.issue.user.login }}


View issue:
${{ github.event.issue.html_url }}
